body{
    background-color: rgb(38, 32, 28);
    margin: 0;
}
.gridgeneral {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows:  300px 300px 300px;
  border: 1px solid rgb(0, 0, 0);
  margin: 20px auto;
  padding: 10px;
  gap: 10px;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.containerfooter{
    grid-column: 1/5;
    grid-row: 4;
}

.custom-navbar {
  background-color: rgb(78, 55, 50);
}

.custom-navbar .form-control {
  background-color: #fff;
  color: #000;
}

footer {
  background-color: rgb(78, 55, 50);
}