html body{
    background-color: #c2bc99;
    font-family: serif;
}

.letraoscura{
    color: #4e3732;
}
.titulo{
    margin-top: 50px;
}


div .botonoscuro{
    background-color: #7d6552; 
    color:#c2bc99;
}

 div .botonoscuro:hover{
    background-color: #6b524a;
    color:#c2bc99;
}

div .inputclaro{
    width: 250px; 
    background-color: #d5d2c0; 
    border: 0;
}

.piepagina{
    background-color: #7d6552;
}

.seccionpie{
    list-style: none; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.titulopie{
    font-size: 19px; 
    color: #d5d2c0; 
    font-family: serif;
 }
.itempie{
    margin-top: 10px;
}
.enlacepie{
    text-decoration: none; 
    color: #c2bc99;
}
.enlacepie:hover{
    color: #d5d2c0;
}

.seccioniconos{
    margin-right: 30px;
}
.enlaceicon{
    text-decoration: none;
}
.icon{
    color:#c2bc99; 
    width: 25px; 
    height: 25px; 
    margin-top: 20px; 
    margin-left: 30px;
}
.icon:hover{
    color: #d5d2c0;
}
.copy{
    color: #c2bc99; 
    margin-left: 19px;
}

.titulo_logo{
    margin-left: 15px; 
    font-family: serif;
    color: #d5d2c0;  
    margin-top: 5px;
    /* margin-left: 15px;  */
    /* font-family: serif;  */
    /* margin-top: 5px; */
}

.coloritemnav{
    color: #d5d2c0; 
}

div .star{
    border: none;
    background-color: #c2bc99;
}
.estrella{
    color:yellow;
}
.estrellae{
    color:yellow;
}
.botonbasura{
    border: none;
    background-color: #c2bc99;
}

/* Estilos nuevos - bastian*/

.barra_navegacion {
    background-color: #7d6552;
    color: #d5d2c0;
}
.footer_pagina{
    background-color: #7d6552;
    color: #d5d2c0;
}


.contenido2_reseñas {
    background-color: #a18e6c; 
    border-radius: 5px; 
}

.descripcion_comentario {
    max-height: 200px; 
    background-color:#a18e6c
}

.puntuacion_reseñas {
    font-size: 18px;
}
.imagen_reseñas {
    margin-top: 100px;

}
.contenedorcomentarios{
    border:5px double #7d6552; 
    padding: 10px; 
    border-radius: 5px;
}

/* Modo Noche */
/* boton modo noche */
#modoNocheBtn {
  top: 18px;
  font-size: 21.5px;
  background: none;
  border: none;
  cursor: pointer; /* manito al pasar x arriba */
}

/* estilo general para modo noche */
.modo-noche {
  background-color: #121212;
  color: #f1f1f1;
}
.modo-noche .barra_navegacion {
  color: #ddd;
  background-color: #575555;
  border: 0;
}
.modo-noche .contenido2_reseñas {
  background-color: #1e1e1e;
  color: #ddd;
  border-radius: 5px;
  border: 2px solid #575555; /* borde de la descripcion en modo noche */
}
.modo-noche .descripcion_comentario {
  background-color: #1e1e1e;
  color: #ddd;
}
.modo-noche .color_textarea {
  background-color: #333;
  color: #f1f1f1;
}
.modo-noche .comentarios_reseñas {
  color: #ddd;
}
.modo-noche .estrella_reseña {
  color: #f1c40f; /* color amarillo para las estrellas */
  background-color: transparent; /* fondo transparente */
}

.modo-noche .footer_pagina {
  background-color: #575555;
  color: #ddd;
}
.modo-noche .boton_reseñas {
  background-color: #736f6f;
  color: #fff;
  border: 1px solid #f6f6f6;
}

.modo-noche .contenedorcomentarios{
    border:5px double #575555; 
    padding: 10px; 
    border-radius: 5px;
}

body.modo-noche::before {
  content: "";
  position: fixed;
  width: 100%; 
  height: 100%;
  background: url('https://img.freepik.com/vector-gratis/fondo-libros-gafas-dibujados-mano_23-2147611297.jpg') repeat;
  animation: Movimiento_hacia_abajo 200s linear infinite; /* linear para q no aumente la velocidad   */
  opacity: 0.1;
  z-index: -1; /*  hace que este detrás del contenido */
}

@keyframes Movimiento_hacia_abajo {
  0% { background-position: 0 0; }
  100% { background-position: 10000px 10000px; }
}