body {
    background-color: #c2bc99;
    font-family: serif;
}

.titulo_logo{
    margin-left: 15px; 
    font-family: serif;
    color: #d5d2c0;  
    margin-top: 5px;
    margin-left: 15px; 
    font-family: serif; 
    margin-top: 5px;
}
.coloritemnav{
    color: #d5d2c0; 
}
/* NOSOTROS */
.carousel-item img {
    height: 400px;
    margin: auto;
    padding: 50px;
    margin-top: 50px;
}

.card_nosotros_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    width: 87%;
    margin: auto;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}
.card_nosotros_2 img{
    height: 490px;
    width: 50%;
    border-radius: 8px;
}
.card_nosotros_2 p{
    font-size: 20px;
}

.titulo_tabla_nosotros{
    text-align: center;
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 20px;

}
#personas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.imagenes_personas{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #000000;
    width: 98%;
    height: 200px;
}

#personas img{
    padding: 13px;
}


.contenedor_nosotros img{
    width: 120px; 
    height: 120px; 
    object-fit: cover;
    background-color: aliceblue;
}

.contenedor_nosotros h5{
    margin-top: 10px; 
    margin-bottom: 5px;
    text-decoration: underline;
    text-decoration-color: rgb(191, 85, 85);              
    text-decoration-style: wavy;             /* puede ser solid, dotted, dashed, double, wavy */
    text-decoration-thickness: 2.2px;          /* grosor de la línea */
    font-size: 22px;
}

.contenedor_nosotros p{
    margin-top: 5px; 
    margin-bottom: 5px;
    font-size: 18px;
}
.contenedor_nosotros .card{
    background: #af9d7c;
    border-radius: 8px;
    border: 0;
}


.piepagina{
    background-color: #7d6552;
}

.seccionpie{
    list-style: none; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.titulopie{
    font-size: 19px; 
    color: #d5d2c0; 
    font-family: serif;
 }
.itempie{
    margin-top: 10px;
}
.enlacepie{
    text-decoration: none; 
    color: #c2bc99;
}
.enlacepie:hover{
    color: #d5d2c0;
}

.seccioniconos{
    margin-right: 30px;
}
.enlaceicon{
    text-decoration: none;
}
.icon{
    color:#c2bc99; 
    width: 25px; 
    height: 25px; 
    margin-top: 20px; 
    margin-left: 30px;
}
.icon:hover{
    color: #d5d2c0;
}
.copy{
    color: #c2bc99; 
    margin-left: 19px;
}

#cerrar-sesion {
  color: #d5d2c0;
  text-decoration: none;
  font-family: 'Georgia', serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

#cerrar-sesion:hover {
  color: #ffffff;
}